<div class="container">
  <div class="panel panel-default">
    <div class="panel-header">
      <h2>{{vm.title}}</h2>
    </div>
    <div class="panel-body">
      <div class="row">
        <button type="button" ng-click="vm.turnOnAllLights()" class="btn btn-success btn-lg col-sm-offset-2">
          All lights on
        </button>
        <button type="button" ng-click="vm.turnOffLights()" class="btn btn-danger btn-lg col-sm-offset-3">
          All lights off
        </button>
      </div>
      <div class="row">
        <hr>
      </div>
      <div class="row"><h3>Select a scene</h3></div>
      <div class="row">
        <button type="button" ng-click="vm.setDefaultScene()" class="btn btn-primary btn-lg">Default</button>
        <button type="button" ng-click="vm.setTVColorLoop()" class="btn btn-primary btn-lg">Color Loop</button>
        <button type="button" ng-click="vm.setKitchenDowns()" class="btn btn-primary btn-lg">Kitchen Downs</button>
        <button type="button" ng-click="vm.setAllKitchenLights()" class="btn btn-primary btn-lg">All Kitchen Lights
        </button>
      </div>
      <br>
      <div class="row">
        <button type="button" ng-click="vm.setMovieMode()" class="btn btn-primary btn-lg">Movie Mode</button>
        <button type="button" ng-click="vm.setVirginAtlanticPurple()" class="btn btn-primary btn-lg">Virgin Atlantic
          Purple
        </button>
        <button type="button" ng-click="vm.setHalloween()" class="btn btn-primary btn-lg">Halloween</button>
        <button type="button" ng-click="vm.setDeepBlue()" class="btn btn-primary btn-lg">Deep Blue</button>
      </div>

      <!--<div class="row">-->
      <!--<div class="col-sm-3">-->
      <!--<a href="#" class="thumbnail">-->
      <!--<img src="http://placehold.it/150x150">-->
      <!--</a>-->
      <!--</div>-->
      <!--<div class="col-sm-3">-->
      <!--<a href="#" class="thumbnail">-->
      <!--<img src="http://placehold.it/150x150">-->
      <!--</a>-->
      <!--</div>-->
      <!--<div class="col-sm-3">-->
      <!--<a href="#" class="thumbnail">-->
      <!--<img src="http://placehold.it/150x150">-->
      <!--</a>-->
      <!--</div>-->
      <!--<div class="col-sm-3">-->
      <!--<a href="#" class="thumbnail">-->
      <!--<img src="http://placehold.it/150x150">-->
      <!--</a>-->
      <!--</div>-->
      <!--</div>-->
    </div>
  </div>
</div>
