<div class="row">
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4><i class="fa fa-bus" style="margin-right: 5px;"></i> #8 - North (Halsted & Jackson)</h4>
      </div>
      <div class="panel-body">
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4><i class="fa fa-subway" style="margin-right: 5px;"></i>
          <span style="color: #00a1de;"><b>Blue Line</b></span> - North to O'Hare (UIC-Halsted)
        </h4>
      </div>
      <div class="panel-body">
      </div>
    </div>
  </div>
</div>
